# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

# Tests disabled due to flakiness with under resourced github test machines. Confluent Jira works fine. Will fix later.
name: Unit tests only

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Setup JDK
        uses: actions/setup-java@v5
        with:
          java-version: '25'
          distribution: 'zulu'
          cache: 'maven'

      # the patch version will be upgraded silently causing the build to eventually start failing - need to store this as a var - possible?
      - name: Show java home
        # /opt/hostedtoolcache/Java_Zulu_jdk/8.0.332-9/x64/bin/java
        run: which java

      #    - name: Show java version
      #      run: java -version

      #     - name: Show mvn version
      #       run: mvn -version

      #    - name: Build with Maven on Java 13
      #      run: mvn -B package --file pom.xml


      # done automatically now
      #      - name: Cache Maven packages
      #        uses: actions/cache@v2.1.7
      #        with:
      #          path: ~/.m2/repository
      #          key: ${{ runner.os }}-m2
      #          restore-keys: ${{ runner.os }}-m2

      - name: Test with Maven
        run: mvn -Pci -B package -Dlicense.skip

#     - name: Archive test results
#       if: ${{ always() }}
#       uses: actions/upload-artifact@v2
#       with:
#         name: test-reports
#         path: target/**-reports/*
#         retention-days: 14
#
#     - name: Archive surefire test results
#       if: ${{ always() }}
#       uses: actions/upload-artifact@v2
#       with:
#         name: test-reports
#         path: target/surefire-reports/*
#         retention-days: 14
